/* GenreClassifier.css */
.genre-classifier {
  text-align: center;
  font-family: "Merriweather",serif;
  font-weight: 700;
  font-style: italic;
  /* background-color: rgb(245, 206, 7);
  padding-bottom: 30%; */
}
body{
  background-color: rgb(245, 206, 7);
}
h1{
  /* color:aliceblue; */
  font-size: 4rem;
}
.container{
  margin-left: 20%;
  margin-right: 20%;
  background-color:rgba(255,255,255,0.5);
  border-radius: 20px;
  padding: 15px;
}
input{
  font-size: larger;
  margin-left: 60px;
  font-family: "Merriweather",serif;
}
input[type=file]::file-selector-button{
  background-color:aliceblue;
  font-family: "Merriweather",serif;
  border-radius:10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-color: rgb(245, 206, 7);
}
input[type=file]::file-selector-button:hover{
  background-color: black;
  color: aliceblue;
}
label{
  font-size: larger;
  font-weight: 400;
}
button{
  background-color:aliceblue;
  border-radius:10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-color: rgb(245, 206, 7);
  font-size: larger;
  font-family: "Merriweather",serif;
}